@tailwind base;
@tailwind components;
@tailwind utilities;

.background-blur {
  z-index: -1;
  opacity: .75;
  background-image: url("../../public/assets/blog/blur.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.heading-gradient {
  z-index: 4;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(150deg, #fff, #908dff 55%);
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
}

.about-section-text {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#fff, #908dff);
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 153%;
}