@tailwind base;
@tailwind components;
@tailwind utilities;

.background-blur {
  z-index: -1;
  opacity: .75;
  background-image: url("../../public/assets/blog/blur.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}