@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #d9d9d9;
  --purple: #908dff;
  --light-purple: rgba(144, 141, 255, .05);
}

.background-blur {
  z-index: -1;
  opacity: .75;
  background-image: url("../../public/assets/blog/blur.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.heading-gradient {
  z-index: 4;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(150deg, #fff, #908dff 55%);
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
}

.about-section-text {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#fff, #908dff);
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 153%;
}

.hero-sub-heading {
  color: #908dff;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.projects-card {
  border: 1px solid var(--purple);
  background-color: var(--light-purple);
  border-radius: 30px;
  margin-bottom: 40px;
  padding-top: 40px;
  overflow: hidden;
}

.primary-button {
  color: #0c1821;
  text-transform: capitalize;
  background-color: rgba(56, 152, 236, 0);
  background-image: linear-gradient(150deg, #fff, #908dff);
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 20px;
  transition: box-shadow .2s, background-color .2s;
}

.primary-button:hover {
  box-shadow: 0 2px 5px 0 var(--purple);
  color: var(--black);
  background-color: rgba(64, 32, 57, 0);
}

.primary-button:active {
  background-color: #43464d;
}

.secondary-button {
  border: 1px solid var(--white);
  color: var(--white);
  text-transform: capitalize;
  background-color: rgba(56, 152, 236, 0);
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 20px;
  transition: color .2s, border-color .2s, box-shadow .2s, background-color .2s;
}

.secondary-button:hover {
  border-color: var(--purple);
  box-shadow: 0 2px 5px 0 var(--purple);
  color: var(--purple);
  background-color: rgba(64, 32, 57, 0);
}

.secondary-button:active {
  background-color: #43464d;
}

.navbar-main {
  background-color: rgba(221, 221, 221, 0);
  background-image: linear-gradient(#13121b, rgba(19, 18, 27, .64) 74%, rgba(19, 18, 27, 0));
}

.about-section-content {
  border: 1px solid var(--purple);
  background-color: var(--light-purple);
  border-radius: 65px;
  padding: 35px;
}

.about-section-text {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(#fff, #908dff);
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 153%;
}